<h1>My ask page</h1>

<form action="answer" method="get">
  <label for="question">Ask your coach a question</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
